;;    # Help
;;    clojure -A:deps -Tnew help/doc

;;    # Create new application
;;    clojure -Tnew app :name myusername/mynewapp

;;    # Create new libary
;;    clojure -Tnew lib :name myusername/mycoollib
{:lib io.github.seancorfield/deps-new,
 :coord
 {:git/tag "v0.4.13",
  :git/sha "879c4eb50df92fcd8c11423c2081e00998d7b613",
  :git/url "https://github.com/seancorfield/deps-new.git"}}
